/* stylelint-disable font-family-name-quotes */
html {
  min-height: 100%;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-rows: 1fr min-content;
  color: $text-color;
  background: $background-default;
  font-family: 'Roboto', sans-serif;

  & .navbar-component {
    grid-row: 2;
  }
}

main {
  padding: 0 $space-5;
}

.error-boundary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

@media screen and (min-width: $desktop-small) {
  body {
    grid-auto-flow: column;
    grid-template-columns: min-content 3fr;
    grid-template-rows: auto;

    & .navbar-component {
      grid-row: 1;
    }
  }

  main {
    padding: 0;
  }
}
