# Caches
.cache/

# Build outputs
build/
.wrangler/

# Binaries
bin/

# Public assets
public/

# Github workflow files
.github/

# Changelog
CHANGELOG.md

# Playwright
playwright-report/
test-results/
