.skills-route {
  &__time-line {
    display: flex;
    flex-direction: column;
    gap: $space-20;
  }

  & h2 {
    text-align: center;
  }

  &__time-line-filter {
    height: $space-30;
    width: 75vw;
    border-radius: border-6;
    border: 1px solid $card-border;
    background-color: $background-variation;
    color: #8b949e;
  }

  & .vertical-timeline-element-content {
    background: none;
    box-shadow: none;

    & .bounce-in {
      border-radius: $border-10;
      overflow: hidden;
    }

    & h2 {
      color: $text-color;
    }

    & svg {
      width: $space-40;
    }
  }

  & .vertical-timeline--two-columns {
    &::before {
      background: $alternative-green;
    }

    & .vertical-timeline-element-content {
      padding: 0;
    }

    & .vertical-timeline-element-content-arrow {
      border-right-color: $alternative-green;
    }
  }

  & .vertical-timeline-element-icon {
    background: $background-default;
    color: $alternative-green;
    box-shadow:
      0 0 0 4px $alternative-green,
      inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);

    svg {
      top: 50%;
      left: 50%;
      fill: $alternative-green;
    }
  }

  &__element-link {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: $mobile-small) {
  .skills-route {
    &__time-line-filter {
      width: 30vw;
      margin-left: $space-20;
    }

    & .vertical-timeline {
      max-width: 95%;
    }
  }
}

@media screen and (min-width: $desktop-small) {
  .skills-route {
    &__time-line {
      display: flex;
      gap: $space-20;
      margin: 0;
    }

    &__time-line-filter {
      width: 30vw;
      margin-left: $space-20;
    }

    & .vertical-timeline {
      &.vertical-timeline--two-columns {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .skills-route {
    &__time-line {
      display: flex;
      gap: $space-20;
      margin: 0;
    }

    & .vertical-timeline {
      margin: 0;

      &.vertical-timeline--two-columns {
        width: 100%;
        padding: 0 20px;
      }

      & .vertical-timeline-element-icon {
        height: $space-80;
        width: $space-80;
        margin-left: -$space-40;

        svg {
          width: $space-40;
          height: $space-40;
          top: 40%;
          left: 40%;
        }
      }
    }
  }
}
