.home-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  text-align: center;
  white-space: pretty;

  h1 {
    font-size: $font-20;
  }

  p {
    font-size: $font-12;
  }

  &__repo-url {
    margin-top: 1rem;
    text-decoration: none;
    display: flex;
    gap: $space-5;
  }

  &__repo-link {
    font-weight: bold;
  
    a {
      color: $text-color;
      transition: filter 0.2s, text-decoration 0.2s;
      text-decoration: none;
    }

    a:hover {
      filter: brightness(1.2);
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $desktop-small) {
  .home-route {
    h1 {
      font-size: $font-32;
    }

    p {
      font-size: $font-16;
    }
  }
}
