.loading-skeleton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $border-10;
    background-color: $default-black;
    border: $card-border;
    padding: $space-20;
    gap: $space-10;
    width: 100%;
    height: 150px;
  
    &__title {
      width: 60%;
      height: 20px;
      background-color: $background-variation;
      border-radius: $border-6;
      animation: skeleton-loading 1.5s infinite;
    }
  
    &__row {
      width: 80%;
      height: 15px;
      background-color: $background-variation;
      border-radius: $border-6;
      animation: skeleton-loading 1.5s infinite;
    }
  
    @keyframes skeleton-loading {
      0% {
        background-color: $default-black;
      }

      50% {
        background-color: $default-grey;
      }
      
      100% {
        background-color: $default-black;
      }
    }
  }